<a href="https://www.kaggle.com/code/jayapat/project1-titanic-python?scriptVersionId=104736035" target="_blank"><img align="left" alt="Kaggle" title="Open in Kaggle" src="https://kaggle.com/static/images/open-in-kaggle.svg"></a>

In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/titanic/train.csv
/kaggle/input/titanic/test.csv
/kaggle/input/titanic/gender_submission.csv

Load the Train Data <br>
Load the Test Data <br>
Load the gender_submission data <br>

In [2]:
train_data = pd.read_csv('/kaggle/input/titanic/train.csv')
test_data = pd.read_csv('/kaggle/input/titanic/test.csv')
gender_submission = pd.read_csv('/kaggle/input/titanic/gender_submission.csv')

See the first few lines of the each data sets <br>
Note that the gender submisson file is the file which is given as an example of how the output should be for the test data. <br>

In [3]:
train_data.head()
test_data.head()
gender_submission.head()

   PassengerId  Survived
0          892         0
1          893         1
2          894         0
3          895         0
4          896         1

Here the gender submission file assumes that all the females survived and all the males died, so lets find out how true is this based on the train data. Before that for the sake of simplicity, make all the columns name in the lower case.

In [4]:
train_data.columns = train_data.columns.str.lower()
test_data.columns = test_data.columns.str.lower()
gender_submission.columns = gender_submission.columns.str.lower()
print(train_data.columns)
print(test_data.columns)

Index(['passengerid', 'survived', 'pclass', 'name', 'sex', 'age', 'sibsp',
       'parch', 'ticket', 'fare', 'cabin', 'embarked'],
      dtype='object')
Index(['passengerid', 'pclass', 'name', 'sex', 'age', 'sibsp', 'parch',
       'ticket', 'fare', 'cabin', 'embarked'],
      dtype='object')

In [5]:
female_s_rate = train_data[train_data['sex'] == 'female']['survived'].value_counts(normalize=True); print('female survival rate: ',female_s_rate[1]*100)
male_s_rate = train_data[train_data['sex'] != 'female']['survived'].value_counts(normalize=True); print('male survival rate: ' ,male_s_rate[1]*100)

female survival rate:  74.20382165605095
male survival rate:  18.890814558058924

Though out initial intution is not so wrong, there is chance of improvment. Here, with the intution we have predicted the survival rate with the 74% of accuracy, lets use the advance data science techniques. # Before we proceed to the advance ML techniques to make our prediction perfect, lets do the data cleaning and EDA.

In [6]:
# .info method will shows the column name and what datatype is contains. Here, initially we have 5 categoriacal columns and rest are either float or the numbers.

train_data.info()
print('-'*100)
test_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   passengerid  891 non-null    int64
 1   survived     891 non-null    int64
 2   pclass       891 non-null    int64
 3   name         891 non-null    object
 4   sex          891 non-null    object
 5   age          714 non-null    float64
 6   sibsp        891 non-null    int64
 7   parch        891 non-null    int64
 8   ticket       891 non-null    object
 9   fare         891 non-null    float64
 10  cabin        204 non-null    object
 11  embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB
----------------------------------------------------------------------------------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   passengerid  418 non-null    int64
 1   pclass       418 non-null    int64
 2   name         418 non-null    object
 3   sex          418 non-null    object
 4   age          332 non-null    float64
 5   sibsp        418 non-null    int64
 6   parch        418 non-null    int64
 7   ticket       418 non-null    object
 8   fare         417 non-null    float64
 9   cabin        91 non-null     object
 10  embarked     418 non-null    object
dtypes: float64(2), int64(4), object(5)
memory usage: 36.0+ KB

In [7]:
#describe method will give us the summary statistics of the numerical data by default
print(train_data.describe())
print('-'*40)
test_data.describe()

       passengerid    survived      pclass         age       sibsp  \
count   891.000000  891.000000  891.000000  714.000000  891.000000
mean    446.000000    0.383838    2.308642   29.699118    0.523008
std     257.353842    0.486592    0.836071   14.526497    1.102743
min       1.000000    0.000000    1.000000    0.420000    0.000000
25%     223.500000    0.000000    2.000000   20.125000    0.000000
50%     446.000000    0.000000    3.000000   28.000000    0.000000
75%     668.500000    1.000000    3.000000   38.000000    1.000000
max     891.000000    1.000000    3.000000   80.000000    8.000000

            parch        fare
count  891.000000  891.000000
mean     0.381594   32.204208
std      0.806057   49.693429
min      0.000000    0.000000
25%      0.000000    7.910400
50%      0.000000   14.454200
75%      0.000000   31.000000
max      6.000000  512.329200
----------------------------------------

       passengerid      pclass         age       sibsp       parch        fare
count   418.000000  418.000000  332.000000  418.000000  418.000000  417.000000
mean   1100.500000    2.265550   30.272590    0.447368    0.392344   35.627188
std     120.810458    0.841838   14.181209    0.896760    0.981429   55.907576
min     892.000000    1.000000    0.170000    0.000000    0.000000    0.000000
25%     996.250000    1.000000   21.000000    0.000000    0.000000    7.895800
50%    1100.500000    3.000000   27.000000    0.000000    0.000000   14.454200
75%    1204.750000    3.000000   39.000000    1.000000    0.000000   31.500000
max    1309.000000    3.000000   76.000000    8.000000    9.000000  512.329200

In [8]:
# for the summary statistics of the categorical columns
train_data.describe( exclude = 'number')

                           name   sex  ticket    cabin embarked
count                       891   891     891      204      889
unique                      891     2     681      147        3
top     Braund, Mr. Owen Harris  male  347082  B96 B98        S
freq                          1   577       7        4      644

In [9]:
#Pivot Table